extends userlayout

block content
 .top-margin
 != messages()
 #posts
  if docs
   each post, i in docs
    .post
     h1
      a(href='/blog/users/show/#{post._id}')
       =post.title
     p.meta Posted in&nbsp;
      a(href='/blog/users/category/#{post.category}') #{post.category}
      | &nbsp;by #{post.author}
      | on #{moment(post.date).format("MM-DD-YYYY")}
     if post.mainimage === 'noimage.jpg'
     else
      a(href='/blog/users/show/#{post._id}')
       img.mainimage(src='#{post.mainimage}')
     !=truncateText(post.body,400)
     a.more(href='/blog/users/show/#{post._id}') Read More
     hr

  #pagination-container
   ul#pagination
    li.prevpage
     form.prev(action='/blog/users/page/#{prevpage}', method="GET")
      if prevDisabled
       input(type='submit', id='prevpagedisabled', value='Prev' disabled)
      else
       input(type='submit', id='prevpage', value='Prev')
    ul#pages
     if pages
       each page, i in pages
        li
         a(href='/blog/users/page/#{page}') #{page}
    li.nextpage
     form.next(action='/blog/users/page/#{nextpage}', method="GET")
      if nextDisabled
       input(type='submit', id='nextpagedisabled', value='Next' disabled)
      else
       input(type='submit', id='nextpage', value='Next')
 include footer
